#root {
  position: absolute;
  width: 98%;
  left: 1%;
  height: 100%;
}

#navbar {
  position: absolute;
  height: 50px;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 5%;
  margin: auto;
  padding-left: 10px;
}

#title-div {
  position: absolute;
  top: 7px;
}

#left-sidebar {
  position: absolute;
  height: 94%;
  width: 13%;
  top: 5.5%;
  left: 0%;
  padding-left: 15px;
}

#workspace {
  position: absolute;
  height: 94%;
  width: 85.5%;
  top: 5.5%;
  left: 13%;
  padding-left: 15px;
  padding-right: 25px;
  grid-column: 2 span 1;
  grid-row: 2 span 1;
  display: flex;
  flex-direction: column;
}

#left-sidebar-header {
  padding-top: 25px;
  height: 4%;
  top: 3%;
  width: 80%;
  display: grid;
  grid-template-columns: 60% 40%;
  white-space: nowrap;
}

#todo-lists-list {
  position: absolute;
  text-align: center;
  height: 80%;
  width: 100%;
  top: 8%;
}

.todo-list-button {
  padding-top: 1.5rem;
  height: 3.7rem;
  width: 80%;
}

.hidden_todo_list_input {
  height: 60px;
  width: 80%;
  text-align: center;
  font-size: 0.9rem;
}

.todo-button {
  white-space: nowrap;
}

#left-sidebar-controls {
  text-align: right;
}

#todo-list-header-card {
  padding-top: 25px;
  height: 30px;
  width: 98%;
}

#todo-list-items-div {
  height: 96%;
  top: 7%;
  display: flex;
  flex-direction: column;
}

.list-item-card {
  padding-top: 20px;
  height: 45px;
  display: flex;
  flex-direction: row;
}

.item-col {
  width: 30%;
}

.date-col{
  margin-left:9rem;
  margin-right:12rem;
}

.hidden-item-col{
  width:30%;
  margin-top: -1rem;
  background-color: #42444D;
  color: white;
}

.hidden-item-col-select{
  width:30%;
  margin-top: -1rem;
  margin-left:0;
  background-color: #42444D;
  color:white;
}

.list-controls-col {
  margin-right: 10rem;
}

.list-item-control {
  width: 20%;
}

/*Modal styling and layout*/

#modal_container{
  display: flex;
  align-items: center;
  justify-content: center;
}
#modal_background{
  
  position: fixed;
  align-self: center;
  background-color: #212329;
  opacity:0.5;
  bottom:.1rem;
  right:.1rem;
  height:63rem;
  width:122rem;
  
}

#modal_content{
  position: fixed;
  z-index: 1000;
  background-color: #42444D;
  width:30%;
  height:20%;
  text-align: center;
  top:30%;
  right:33%
}

.modal_delete_button,.modal_close_button{
  display: inline-block;
  margin-top: 3rem;
  border: none;
    text-decoration: none;
    background: inherit;
    padding:2%;
    color: #ffffff;
    font-family: consolas;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;

}

.modal_delete_button:focus,.modal_delete_button:hover, .modal_close_button:focus,.modal_close_button:hover{
  background: rgba(255,255,255, 0.7);;
}

.modal_delete_button{
  margin-right:23rem;
}

.modal_delete_list_row{
  border-bottom: 3px dotted white;
  margin-left:2rem;
  margin-right:2rem;
  padding-bottom: 1rem;
}
.modal_delete_list_row_child{
  display: inline-block;
}

.child1{
  margin-right: 22rem;
  font-size: 19px;
  margin-top: 2rem;

}

.child2{
  position: relative;
  top: .3rem;
}

.child2:hover,.child2:focus{
  background: rgba(255,255,255, 0.7);;
  cursor: pointer;
}

